body {
    background-image: url(../img/Fondo.jpg);
}

a{
    color: silver;
}

p{
    font-family: 'Roboto Slab', serif;
    font-family: 'Spartan', sans-serif;
}

header{
    width: 1000px;
    height:100px;
}

#marca img{
    width: 150px;
    height: 100px;
    float: left;
    border-color: silver;
    border-style:outset;
    border-radius: 3vmax;
}

#botonera_principal{
    width: 900px;
    height: 100px;
    float: center;
}

#botonera_principal ul{
    list-style-type: none;
    margin: 0px;
    padding: 30px;
    float: right;
}

#botonera_principal ul li{
    display: inline;

}
#botonera_principal ul li a{
    display: inline-block;
    padding: 10px;
    background-color: #52545c;
    color: black;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    text-decoration: none;
    border-style: solid;
}


#botonera_principal ul li a:visited {
    color: whitesmoke
}

#botonera_principal ul li a:hover {
    color: rgba(245, 245, 245, 0.692);
    background-color: seagreen;
}


#redes{
    width: 500px;
    float: right;
}

/*DESARROLLO PARA REDES*/
button{
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 30px;
    color: black;
    background-color: rgba(245, 245, 245, 0.692);
    float: right;
    border-style: double;
    border-radius: 20%;
    border-color: teal;
    padding: 3px;
}

button a:hover{
    color:rgba(245, 245, 245, 0.692);
    background-color: seagreen;
}

button a:visited{
    color: whitesmoke;
}


.contenido_principal{
    width: 1000px;
    height: 600px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 100px;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: silver;
}

#imagen1{
    width: 200px;
    height:500px;
    float:left;
    margin-bottom:30px;
     background-image: url(../img/Lateral.jpg);
    background-size: cover;
    border-style:groove;
    border-radius: 3%;
    border-color: black;
    border-radius: 10px;
    box-shadow: 0 0 15px #ddd;
}

#titulo_principal{
    margin-top: 20px;
    text-align: center;
}   

#presentacion{
    width: 800px;
    height:150px;
    margin-top:30px;
    margin-bottom:30px;
    padding-bottom: 150px;
    padding-left: 220px;
    padding-right: 20px;
    box-sizing: border-box;
    text-align: justify;
    background-image: url(../img/background.png);
    background-size: cover;
    border-style:groove;
    border-radius: 3%;
    border-color: black;
    border-radius: 10px;
}

#texto_contenido{
    width: 800px;
    height:150px;
    margin-top:30px;
    margin-bottom:30px;
    padding-bottom: 150px;
    padding-left: 220px;
    padding-right: 20px;
    box-sizing: border-box;
    text-align: justify;
    background-image: url(../img/background.png);
    background-size: cover;
    border-style:groove;
    border-radius: 3%;
    border-color: black;
    border-radius: 10px;
}

#titulo_segundo{
    margin-top: 20px;
    text-align: center;
}

#destacado{
    width: 800px;
    height:150px;
    margin-top:30px;
    margin-bottom:30px;
    padding-bottom: 150px;
    padding-left: 220px;
    padding-right: 20px;
    box-sizing: border-box;
    text-align: justify;
    background-image: url(../img/background.png);
    background-size: cover;
    border-style:groove;
    border-radius: 3%;
    border-color: black;
    border-radius: 10px;
}
#titulo_destacado{
    margin-top: 20px;
    text-align: center;
}

#imagen_aside {
    width: 800px;
    height: 150px;
    border-style:inset;

}


/* DESARROLLO PARA "NOSOTROS" */

#titulo_presentacion{
    margin-top: 20px;
    text-align: center;
}

#texto_presentacion{
    width: 1000px;
    height:150px;
    margin-top:30px;
    margin-bottom:30px;
    padding-bottom: 150px;
    padding-right: 220px;
    box-sizing: border-box;
    text-align: justify;
}

#imagen_logo{
    width: 780px;
    height:500px;
    float:left;
    margin-bottom:30px;
     background-image: url(../img/logo.png);
    background-size: cover;
    animation-name: cambiarColor;
    animation-duration: 15s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    border-radius: 10%;
    border: 20px;
    border-style: double;
}

@keyframes cambiarColor{
    0% {border-color:silver}
    25% {border-color: black}
    50% {border-color: lightcoral;}
    75% {border-color: seagreen;}
}

/* DESARROLLO PARA "SERVICIOS" */

#titulo_servicios{
    margin-top: 20px;
    text-align: center;
}

#texto_servicios{
    width: 1000px;
    height:150px;
    margin-top:30px;
    margin-bottom:30px;
    padding-bottom: 150px;
    padding-right: 220px;
    box-sizing: border-box;
    text-align: justify;
}

#calibraciones {
    color: green;
    width: 280px;
    height: 30px;
    animation-name: llegar;
    animation-duration: 3s;
    animation-timing-function: ease;
    position: relative;
    animation-delay: 1s;
    text-align: center;
}



@keyframes llegar{
    0% {left: 0px; top: 0px;}
    50% {background-color: ivory;

        border-radius: 3%;
        border-color: black;
        border-radius: 10px;
        box-shadow: 0 0 15px #ddd; border-radius: 10%; left:250px; top:0px}
    100% {left: 0px; top:0px}
}

#reparaciones{
    color:sienna;
    width: 270px;
    height: 30px;
    animation-name: llegar;
    animation-duration: 3s;
    position: relative;
    animation-delay: 4s;
}


#upgrades{
    color: cadetblue;
    width: 190px;
    height: 30px;
    animation-name: llegar;
    animation-duration: 3s;
    position: relative;
    animation-delay: 7s;
}

#accesorios{
    color:darkred;
    width: 220px;
    height: 30px;
    animation-name: llegar;
    animation-duration: 3s;
    position: relative;
    animation-delay: 10s;
}

#alquiler{
    color: darkviolet;
    width: 180px;
    height: 30px;
    animation-name: llegar;
    animation-duration: 3s;
    position: relative;
    animation-delay: 13s;
}

#equipamiento{
    color:darkslategrey;
    width: 280px;
    height: 30px;
    animation-name: llegar;
    animation-duration: 3s;
    position: relative;
    animation-delay: 16s;
}


/* DESARROLLO DE FORM */

label{
    margin-top: 1em;
    width: 770px;
    height: 20px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    float: left;
}

input{
    margin-top: 10px;
    width: 750px;
    height: 20px;
    float: left;
    background-color: silver;
    font-size: 24px;
    margin-left: 1em;
}

#error{
    float:left;
    width: 1000px;
    height: 30;
    font-style: italic;
}

#btn_enviar{
    font-size: 30px;
    margin-top: 2em;
    width: 760px;
    height: 40px;
    float: left;
    border-style: solid;
    border-color: slategrey;
    background-color: seagreen;
    color: black;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    text-decoration: none;
    border-style: solid;
}

/* RESPONSIVE 2 */

@media all and (min-width: 768px) and (max-width: 1023px){

    header{
        width: 500px;
        height:140px;
    }

    #marca img{
        width: 120px;
        height: 80px;
        border-color: silver;
        border-style:outset;
        border-radius: 3vmax;
        margin-left: auto;
        margin-right: auto;
        float:none;
    }

    #botonera_principal{
        width: 600px;
        height: 50px;
        float: center;
    }

    #botonera_principal ul{
        list-style-type: none;
        margin: 0px;
        padding: 30px;
        float: right;
    }

    #botonera_principal ul li{
        display: inline;

    }
    #botonera_principal ul li a{
        display: inline-block;
        padding: 10px;
    }

    #redes{
        width: 500px;
        float: right;
    }

    /*DESARROLLO PARA REDES*/
    button{
        width: 40px;
        height: 40px;
        float:right;

    }

    .contenido_principal{
        width: 300px;
        height: 400px;
        margin-top: 10px;
        float:left;
    }

    #imagen1{
        width: 200px;
        margin-top: 1.5em;
        height: 500px;
        background-position: center;
    }

    #titulo_principal{
        margin-top: 10px;
        text-align: left;
    }   

    #presentacion{
        width: 750px;
        height:150px;
        margin-top:30px;
        margin-bottom:30px;
        padding-bottom: 150px;
        padding-left: 220px;
        padding-right: 20px;
        box-sizing: border-box;
        text-align: justify;
        background-size: cover;
    }

    #texto_contenido{
        width: 750px;
        height: 50px;

    }

    #titulo_segundo{
        margin-top: 20px;
        text-align: center;
    }

    #destacado{
        width: 750px;
        height:150px;
        margin-top:30px;
        margin-bottom:30px;
        padding-bottom: 150px;
        padding-left: 220px;
        padding-right: 20px;
        box-sizing: border-box;
        text-align: justify;
        background-image: url(../img/background.png);
        background-size: cover;
        border-style:groove;
        border-radius: 3%;
        border-color: black;
        border-radius: 10px;
    }
    #titulo_destacado{
        margin-top: 20px;
        text-align: center;
    }

    #imagen_aside {
        width: 750px;
        height: 150px;
        border-style:inset;

    }


    /* DESARROLLO PARA "NOSOTROS" */

    #titulo_presentacion{
        margin-top: 20px;
        text-align: center;
    }

    #texto_presentacion{
        font-size: 15px;
        width: 700px;
        height:150px;
        margin-top:30px;
        margin-bottom:30px;
        padding-bottom: 150px;
        padding-right: 250px;
        box-sizing: border-box;
        text-align: justify;
    }

    #imagen_logo{
        width:500px;
        height:300px;
        float:left;
        margin-bottom:30px;
        background-image: url(../img/logo.png);
        background-size: cover;
        animation-name: cambiarColor;
        animation-duration: 15s;
        animation-delay: 1s;
        animation-iteration-count: infinite;
        border-radius: 10%;
        border: 20px;
        border-style: double;
    }

    @keyframes cambiarColor{
        0% {border-color:silver}
        25% {border-color: black}
        50% {border-color: lightcoral;}
        75% {border-color: seagreen;}
    }

    /* DESARROLLO PARA "SERVICIOS" */

    #titulo_servicios{
        padding-top: 500px;
        text-align: center;
        font-size: 15px;
        padding-left: -50px;
    }

    #texto_servicios{
        font-size: 15px;
        width: 600px;
        height:150px;
        margin-top:30px;
        margin-bottom:30px;
        padding-bottom: 150px;
        padding-right: 220px;
        box-sizing: border-box;
        text-align: justify;
    }

    #calibraciones {
        color: green;
        width: 280px;
        height: 30px;
        animation-name: llegar;
        animation-duration: 3s;
        animation-timing-function: ease;
        position: relative;
        animation-delay: 1s;
        text-align: center;
    }



    @keyframes llegar{
        0% {left: 0px; top: 0px;}
        50% {background-color: ivory;

            border-radius: 3%;
            border-color: black;
            border-radius: 10px;
            box-shadow: 0 0 15px #ddd; border-radius: 10%; left:250px; top:0px}
        100% {left: 0px; top:0px}
    }

    #reparaciones{
        color:sienna;
        width: 270px;
        height: 30px;
        animation-name: llegar;
        animation-duration: 3s;
        position: relative;
        animation-delay: 4s;
    }


    #upgrades{
        color: cadetblue;
        width: 190px;
        height: 30px;
        animation-name: llegar;
        animation-duration: 3s;
        position: relative;
        animation-delay: 7s;
    }

    #accesorios{
        color:darkred;
        width: 220px;
        height: 30px;
        animation-name: llegar;
        animation-duration: 3s;
        position: relative;
        animation-delay: 10s;
    }

    #alquiler{
        color: darkviolet;
        width: 180px;
        height: 30px;
        animation-name: llegar;
        animation-duration: 3s;
        position: relative;
        animation-delay: 13s;
    }

    #equipamiento{
        color:darkslategrey;
        width: 280px;
        height: 30px;
        animation-name: llegar;
        animation-duration: 3s;
        position: relative;
        animation-delay: 16s;
    }


    /* DESARROLLO DE FORM */

    label{
        margin-top: 1em;
        width: 500px;
        height: 20px;
        font-size: 20px;
        font-family:Arial, Helvetica, sans-serif;
        float: left;
    }

    input{
        margin-top: 10px;
        width: 500px;
        height: 20px;
        float: none;
        background-color: silver;
        font-size: 24px;
        margin-left: 1em;
    }

    #error{
        float:left;
        width: 500px;
        height: 30;
        font-style: italic;
        font-size: 12px;
    }

    #btn_enviar{
        font-size: 30px;
        margin-top: 2em;
        width: 500px;
        height: 40px;
        float: left;
        border-style: solid;
        border-color: slategrey;
        background-color: seagreen;
        color: black;
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        text-decoration: none;
        border-style: solid;
    }
}
/* RESPONSIVE 3 */

@media all and (max-width: 767px){
    p{
        font-size: 10px;
    }
    
    header{
        width: 250px;
        height:100px;
    }
    
    #marca img{
        width: 150px;
        height: 100px;
        float: left;
        border-color: silver;
        border-style:outset;
        border-radius: 3vmax;

    }
    
    #botonera_principal{
        width: 200px;
        height: 100px;
        float: left;
    }
    
    #botonera_principal ul{
        list-style-type: none;
        margin: 0px;
        padding: 10px;
        float: left;
    }
    
    #botonera_principal ul li{
        display: inline;
    
    }
    #botonera_principal ul li a{
        display: inline-block;
        padding: 0px;
        background-color: #52545c;
        color: black;
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        text-decoration: none;
        border-style: solid;
    }
    
    #redes{
        width: 500px;
        float: center;
    }
    
    /*DESARROLLO PARA REDES*/
    button{
        width: 40px;
        height: 40px;
        cursor: pointer;
        font-size: 30px;
        color: black;
        background-color: rgba(245, 245, 245, 0.692);
        float: right;
        border-style: double;
        border-radius: 20%;
        border-color: teal;
        padding: 0px;
    }
    
    

    .contenido_principal{
        width: 500px;
        height: 100px;
        margin-left:auto;
        margin-right:auto;
        margin-top: 100px;
        font-size: 20px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color: silver;
    }
    
    #imagen1{
        width: 100px;
        height: 300px;
        float:left;
        margin: bottom 0px;
         background-image: url(../img/Lateral.jpg);
        background-size: cover;
        border-style:groove;
        border-radius: 3%;
        border-color: black;
        border-radius: 10px;
        box-shadow: 0 0 15px #ddd;
    }
    
    #titulo_principal{
        float:left; 
        width: 500;
        margin-top: 0px;
        text-align: left;
        font-size: 10px;
    }   
    
    #presentacion{
        width: 30px;
        height: 50px;
        margin-top:30px;
        margin-bottom:30px;
        padding-bottom: 150px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: justify;

    }
    
    #texto_contenido{
        width: 50px;
        height:150px;
        margin-top:30px;
        margin-bottom:30px;
        padding-bottom: 150px;
        padding-left: 220px;
        padding-right: 20px;
        box-sizing: border-box;
        text-align: justify;
        background-image: url(../img/background.png);
        background-size: cover;
        border-style:groove;
        border-radius: 3%;
        border-color: black;
        border-radius: 10px;
    }
    
    #titulo_segundo{
        margin-top: 0px;
        text-align: left;
        font-size: 10px;
    }
    
    #destacado{
        width: 800px;
        height:150px;
        margin-top:30px;
        margin-bottom:30px;
        padding-bottom: 150px;
        padding-left: 220px;
        padding-right: 20px;
        box-sizing: border-box;
        text-align: justify;
        background-image: url(../img/background.png);
        background-size: cover;
        border-style:groove;
        border-radius: 3%;
        border-color: black;
        border-radius: 10px;
    }
    #titulo_destacado{
        margin-top: 0px;
        text-align: left;
        font-size: 10px;
    }
    
    #imagen_aside {
        width: 300px;
        height: 150px;
        border-style:inset;
    }
    
    
    /* DESARROLLO PARA "NOSOTROS" */
    
    #titulo_presentacion{
        padding-top: 0px;
        text-align: left;
        font-size: 13px;
    }
    
    #texto_presentacion{
        font-size: 10px;
        width: 500px;
        height: 100px;
        float:left;
        margin-top:5px;
        margin-bottom:30px;
        padding-bottom: 150px;
        padding-right: 260px;
    }
    
    #imagen_logo{
        width: 100px;
        height: 60px;
        float:left;
        margin-top: -40px;
        margin-bottom:30px;
         background-image: url(../img/logo.png);
        background-size: cover;
        animation-name: cambiarColor;
        animation-duration: 15s;
        animation-delay: 1s;
        animation-iteration-count: infinite;
        border-radius: 10%;
        border: 20px;
        border-style: double;
    }
    
    @keyframes cambiarColor{
        0% {border-color:silver}
        25% {border-color: black}
        50% {border-color: lightcoral;}
        75% {border-color: seagreen;}
    }
    
    /* DESARROLLO PARA "SERVICIOS" */
    
    #titulo_servicios{
        margin-top: 150px;
        text-align: center;
    }
    
    #texto_servicios{
        font-size: 10px;
        width: 500px;
        height:150px;
        margin-top:30px;
        margin-bottom:30px;
        padding-bottom: 150px;
        padding-right: 220px;
        box-sizing: border-box;
        text-align: justify;
    }
    
    #calibraciones {
        margin-top: -50px;
        color: green;
        width: 100px;
        height: 10px;
        animation-name: llegar;
        animation-duration: 3s;
        animation-timing-function: ease;
        position: relative;
        animation-delay: 1s;
        text-align: left;
        font-size: 10px;
    }
    
    
    
    @keyframes llegar{
        0% {left: 0px; top: 0px;}
        50% {background-color: ivory;
    
            border-radius: 3%;
            border-color: black;
            border-radius: 3px;
            box-shadow: 0 0 1px #ddd; border-radius: 10%; left:130px; top:0px}
        100% {left: 0px; top:0px}
    }
    
    #reparaciones{
        color:sienna;
        width: 100px;
        height: 10px;
        animation-name: llegar;
        animation-duration: 3s;
        position: relative;
        animation-delay: 4s;
        text-align: left;
        font-size: 10px;
    }
    
    
    #upgrades{
        color: cadetblue;
        width: 100px;
        height: 10px;
        animation-name: llegar;
        animation-duration: 3s;
        position: relative;
        animation-delay: 7s;
        text-align: left;
        font-size: 10px;
    }
    
    #accesorios{
        color:darkred;
        width: 100px;
        height: 10px;
        animation-name: llegar;
        animation-duration: 3s;
        position: relative;
        animation-delay: 10s;
        text-align: left;
        font-size: 10px;
    }
    
    #alquiler{
        color: darkviolet;
        width: 100px;
        height: 10px;
        animation-name: llegar;
        animation-duration: 3s;
        position: relative;
        animation-delay: 13s;
        text-align: left;
        font-size: 10px;
    }
    
    #equipamiento{
        color:darkslategrey;
        width: 100px;
        height: 10px;
        animation-name: llegar;
        animation-duration: 3s;
        position: relative;
        animation-delay: 16s;
        text-align: left;
        font-size: 10px;
    }
    
    
    /* DESARROLLO DE FORM */
    
    label{
        margin-top: 1em;
        width: 200px;
        height: 15px;
        font-size: 15px;
        font-family:Arial, Helvetica, sans-serif;
        float: left;
    }
    
    input{
        margin-top: 10px;
        width: 200px;
        height: 15px;
        float: center;
        background-color: silver;
        font-size: 15px;
        margin-left: -90px;
    }
    
    #error{
        float:left;
        width: 200px;
        height: 15;
        font-style: italic;
        font-size: 10px;
    }
    
    #btn_enviar{
        font-size: 14px;
        margin-top: 1em;
        width: 500px;
        height: 30px;
        margin-bottom: 1em;
        float: left;
        border-style: solid;
        border-color: slategrey;
        background-color: seagreen;
        color: black;
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        text-decoration: none;
        border-style: solid;
    }
}